{% extends 'home/base.html' %}
{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Введите новый пароль дважды.:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она
             уже используется. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}